#calendar-wrapper {
	display: flex;
	flex: row;
	justify-content: space-around;
}

#calendarjs,
#calendarphp {
	width: 40vw;
	//height: 34.7vw;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 1vw;
	background: #eee;
	/*border: 2px solid #555;*/
	border-radius: 18px;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	padding: 0.5vw 0;
}

.calendar-head {
	width: 39vw;
	height: 3em;
	background: #64ff8d;
	/*border: 2px solid #555;*/
	border-radius: 12px 12px 0 0 ;
	display: flex;
	flex-flow: row;
	justify-content: flex-start;
	align-items: center;
}

.back,
.month,
.forth,
.year,
.today {
	margin: 0 1em;
}

.back,
.forth,
.today {
	color: #555;
	background: #fff;
	padding: 0 0.4em;
	border-radius: 1em;
}

.back:hover,
.forth:hover,
.today:hover {
	background: #ffffbb;
	cursor: pointer;
}

.calendar-body {
	width: 39vw;
	//height: 31vw;
	background: #fff;
	border-radius: 0 0 12px 12px;

	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	align-items: center;
}

.calendar-row {
	width: 39vw;
	height: 5.6vw;

	display: flex;
	flex-flow: row;
	justify-content: flex-start;
	align-items: center;
}

.calendar-cell {
	width: 4vw;
	height: 4vw;
	color: #000;
	border: 0.5vw solid #eee;
	border-radius: 10px;
	margin: 0.2vw;
}

.todayday {
	width: 4vw;
	height: 4vw;
	background: #ffffbb;
	border: 0.5vw solid #f5f599;
	border-radius: 10px;
	margin: 0.2vw;
}

.calendar-cell:hover {
	background: #ffffbb;
	border: 0.5vw solid #f5f599;
	cursor: pointer;
}

.calendar-body thead,
.calendar-body thead .calendar-row {
	height: 3vw;
}

#dayMo0,
#dayTu0,
#dayWe0,
#dayTh0,
#dayFr0,
#daySa0,
#daySu0 {
	width: 5vw;
	height: 2vw;
	color: #fff;
	font-size: 0.8vw;
	background: #64ff8d;
	border: none;
	//margin-top: 0.2vw;
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
}